<div id="message_container" class="col-xs-12 col-md-4">
						<div class="row">
							<div id="num_users_online">
				
							</div>
							<div id="chatBox">
								<p *ngFor="let chat_item of chat_box_items">{{chat_item.username}}:{{chat_item.message}}</p>
							</div>
						</div>
						<div class="row">
						
		<!-- 				<form class="form-inline" id="chatForm" enctype="multipart/form-data" #messageForm="ngForm" > -->
						<div class="form-group">
		
						<input id="chatField" type="text" class="form-control" placeholder="chat please"  [(ngModel)]="message" (keyup.enter)="onSubmit()">
									<button type="submit" class="btn btn-primary" (click)="onSubmit()">send</button>	
				

						<input id="upload-image" type="file" style="display:none;" name="file_upload" accept="image/*">
						<button id="imageButton" class="btn btn-primary image upload" (click)="imageInput.click()"></button>
						  </div>

				<!-- 		</form>	 -->					
					


						</div>				
</div>
<online-users></online-users>