<div id="message_container" class="col-xs-12 col-md-4">
						<div class="row">
							<div id="num_users_online">
								
							</div>
			<div [hidden]="error_message == ''" class="alert alert-danger">
          {{error_message}}
        </div>
		<div id="chatBox">
			<div id="chatItem" *ngFor="let chat_item of chat_box_items" >
				<p *ngIf="chat_item.image">{{chat_item.username}} sent a image</p>
				<img *ngIf="chat_item.image" src="{{chat_item.image}}" alt="">
				<p>
					<span *ngIf="chat_item.whisper" class="whisper">{{chat_item.username}} whispers  to {{chat_item.end_user}}</span>
					<span *ngIf="!chat_item.whisper">{{chat_item.username}}</span>:{{chat_item.message}}
				</p>				
			</div>

		</div>
						</div>
						<div class="row">
						
		<!-- 				<form class="form-inline" id="chatForm" enctype="multipart/form-data" #messageForm="ngForm" > -->
		<div id="chatForm">
						<div class="form-group">
		
						<input id="chatField" type="text" class="form-control" placeholder="chat please"  [(ngModel)]="message" (keyup.enter)="onSubmit()" (keyup)="check_them_keys($event)">
									<button type="submit" class="btn btn-primary" (click)="onSubmit()">send</button>	
				

						<input id="upload-image" type="file" style="display:none;" name="file_upload" accept="image/*" #imageInput (change)="get_image($event)">
						<button id="imageButton" class="btn btn-primary image upload" (click)="imageInput.click()" [ngClass]="{img_appended:processed_image != null}" 
						[ngStyle]="{'background-image':(processed_image != null) ? 'url(' + processed_image + ')' : '' }" ></button>
						  </div>
		</div>
				<!-- 		</form>	 -->					
					


						</div>				
</div>
<online-users></online-users>